<?xml version="1.0"?>
<launch>
  <arg name="robotname" default="robot_0" />
  <arg name="mapname" default="grid" />

  <group ns="$(arg robotname)">
    <param name="tf_prefix" value="$(arg robotname)" />

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find patrolling_sim)/maps/$(arg mapname)/$(arg mapname).yaml"/>

    <!--- Run AMCL -->
    <include file="$(find patrolling_sim)/params/amcl/amcl_diff.launch" />
    <include file="$(find patrolling_sim)/params/amcl/$(arg robotname)_initial_pose.xml" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find patrolling_sim)/params/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find patrolling_sim)/params/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find patrolling_sim)/params/move_base/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find patrolling_sim)/params/move_base/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find patrolling_sim)/params/move_base/base_local_planner_params.yaml" command="load" />
        <!-- remap from="cmd_vel" to="desired_cmd_vel" / -->
    </node>

    <!-- node pkg="emergency_stop" name="emergencyStop" type="emergencyStop" args="" output="screen" / -->

  </group>

</launch>
