<launch>
  <master auto="start"/>

    <!-- <rosparam command="load" file="$(find patrolling_sim)/params/tf_prefix.yaml"/> -->

  <!-- Run Stage (só tirei o "-g" por trás do $)-->
  <node name="stageros" pkg="stage" type="stageros" args="$(find patrolling_sim)/maps/1r-5-map2robots.world" output="screen"/>
   
</launch>
