<launch>
  <master auto="start"/>

  <!-- Parameter with Initial Position Estimate [x0, y0, x1, y1, ...] -->
  <rosparam param="initial_pos">[42.45, 19.80, 27.60, 23.10, 37.95, 22.80, 10.65, 23.40, 38.10, 3.90, 14.55, 16.75, 15.55, 14.75, 3.90, 27.60]</rosparam>

  <!-- Robot 5 & 6 começam no mesmo vertice (vertice 13: X= 14.55, Y= 15.75), desloquei-os. -->


  <!-- BEGIN ROBOT 0 -->
  <group ns="robot_0">

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find patrolling_sim)/maps/example/example.yaml"/>

    <!--- Run AMCL -->
    <include file="$(find patrolling_sim)/params/amcl/example_8robots/amcl_diff_robot0.launch" />


    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot0.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot0.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/local_costmap_params_robot0.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/global_costmap_params_robot0.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/base_local_planner_params.yaml" command="load" />
    </node>


  <!-- Run Rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz0">  </node>  -->
 

 <!-- Run Nav_View -->
 <!-- <include file="$(find navigation_stage)/move_base_config/nav_view.xml"/> -->
  </group>



  <!-- BEGIN ROBOT 1 -->
  <group ns="robot_1">

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find patrolling_sim)/maps/example/example.yaml"/>

    <!--- Run AMCL -->
    <include file="$(find patrolling_sim)/params/amcl/example_8robots/amcl_diff_robot1.launch" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot1.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot1.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/local_costmap_params_robot1.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/global_costmap_params_robot1.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/base_local_planner_params.yaml" command="load" />
    </node>


  <!-- Run Rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz1">  </node>  -->
 

 <!-- Run Nav_View -->
 <!-- <include file="$(find navigation_stage)/move_base_config/nav_view.xml"/> -->
  </group>

  <!-- BEGIN ROBOT 2 -->
  <group ns="robot_2">

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find patrolling_sim)/maps/example/example.yaml"/>

    <!--- Run AMCL -->
    <include file="$(find patrolling_sim)/params/amcl/example_8robots/amcl_diff_robot2.launch" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot2.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot2.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/local_costmap_params_robot2.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/global_costmap_params_robot2.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/base_local_planner_params.yaml" command="load" />
    </node>


  <!-- Run Rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz1">  </node>  -->
 

 <!-- Run Nav_View -->
 <!-- <include file="$(find navigation_stage)/move_base_config/nav_view.xml"/> -->
  </group>

  <!-- BEGIN ROBOT 3 -->
  <group ns="robot_3">

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find patrolling_sim)/maps/example/example.yaml"/>

    <!--- Run AMCL -->
    <include file="$(find patrolling_sim)/params/amcl/example_8robots/amcl_diff_robot3.launch" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot3.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot3.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/local_costmap_params_robot3.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/global_costmap_params_robot3.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/base_local_planner_params.yaml" command="load" />
    </node>


  <!-- Run Rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz1">  </node>  -->
 

 <!-- Run Nav_View -->
 <!-- <include file="$(find navigation_stage)/move_base_config/nav_view.xml"/> -->
  </group>

 <!-- BEGIN ROBOT 4 -->
  <group ns="robot_4">

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find patrolling_sim)/maps/example/example.yaml"/>

    <!--- Run AMCL -->
    <include file="$(find patrolling_sim)/params/amcl/example_8robots/amcl_diff_robot4.launch" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot4.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot4.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/local_costmap_params_robot4.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/global_costmap_params_robot4.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/base_local_planner_params.yaml" command="load" />
    </node>


  <!-- Run Rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz1">  </node>  -->
 

 <!-- Run Nav_View -->
 <!-- <include file="$(find navigation_stage)/move_base_config/nav_view.xml"/> -->
  </group>

 <!-- BEGIN ROBOT 5 -->
  <group ns="robot_5">

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find patrolling_sim)/maps/example/example.yaml"/>

    <!--- Run AMCL -->
    <include file="$(find patrolling_sim)/params/amcl/example_8robots/amcl_diff_robot5.launch" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot5.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot5.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/local_costmap_params_robot5.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/global_costmap_params_robot5.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/base_local_planner_params.yaml" command="load" />
    </node>


  <!-- Run Rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz1">  </node>  -->
 

 <!-- Run Nav_View -->
 <!-- <include file="$(find navigation_stage)/move_base_config/nav_view.xml"/> -->
  </group>

 <!-- BEGIN ROBOT 6 -->
  <group ns="robot_6">

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find patrolling_sim)/maps/example/example.yaml"/>

    <!--- Run AMCL -->
    <include file="$(find patrolling_sim)/params/amcl/example_8robots/amcl_diff_robot6.launch" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot6.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot6.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/local_costmap_params_robot6.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/global_costmap_params_robot6.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/base_local_planner_params.yaml" command="load" />
    </node>


  <!-- Run Rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz1">  </node>  -->
 

 <!-- Run Nav_View -->
 <!-- <include file="$(find navigation_stage)/move_base_config/nav_view.xml"/> -->
  </group>


 <!-- BEGIN ROBOT 7 -->
  <group ns="robot_7">

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find patrolling_sim)/maps/example/example.yaml"/>

    <!--- Run AMCL -->
    <include file="$(find patrolling_sim)/params/amcl/example_8robots/amcl_diff_robot7.launch" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot7.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/costmap_common_params_robot7.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/local_costmap_params_robot7.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/example_8robots/global_costmap_params_robot7.yaml" command="load" />
      <rosparam file="$(find patrolling_sim)/params/amcl/base_local_planner_params.yaml" command="load" />
    </node>


  <!-- Run Rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz1">  </node>  -->
 

 <!-- Run Nav_View -->
 <!-- <include file="$(find navigation_stage)/move_base_config/nav_view.xml"/> -->
  </group>

</launch>
